/*Align*/
.ali-c { text-align: center; }
.ali-r { text-align: right; }
.ali-l { text-align: left; }
.ali-m { vertical-align: middle; }
.ali-b { vertical-align: bottom; }
.ali-t { vertical-align: top; }
