/*Background*/
.bg-cv { background-size: cover; }
.bg-cn { background-size: contain; }

.bg-sm { background-size: 25%; }
.bg-md { background-size: 50%; }
.bg-lg { background-size: 75%; }
.bg-xl { background-size: 100%; }
.bg-no { background-size: 0; }

.bg-rp { background-repeat: repeat; }
.bg-rp-no { background-repeat: no-repeat; }


