/*Cursor*/
.cur-gr { cursor: grab; }
.cur-gb { cursor: grabbing; }
.cur-cr { cursor: crosshair; }
.cur-mv { cursor: move; }
.cur-mn { cursor: context-menu; }
.cur-hl { cursor: help; }
.cur-pg { cursor: progress; }
.cur-wa { cursor: wait; }
.cur-tx { cursor: text; }
.cur-sc { cursor: all-scroll; }
.cur-ce { cursor: cell; }
.cur-cp { cursor: copy; }
.cur-df { cursor: default; }
.cur-zi { cursor: zoom-in; }
.cur-zo { cursor: zoom-out; }
.cur-no { cursor: none; }
