/*Flexbox*/
.flx { display: flex; }

.flx-in { display: inline-flex; }
.flx-rw { flex-direction: row; }
.flx-co { flex-direction: column; }

.flx-au { flex: auto; }
.flx-wp { flex-wrap: wrap; }
.flx-wp-no { flex-wrap: nowrap; }

.flx-al-l { align-items: flex-start; }
.flx-al-c { align-items: center; }
.flx-al-r { align-items: flex-end; }

.flx-ju-l { justify-content: flex-start; }
.flx-ju-c { justify-content: center; }
.flx-ju-r { justify-content: flex-end; }

.flx-ar { justify-content: space-around; }
.flx-bw { justify-content: space-between; }

.flx-md {
    display: flex;
    align-items: center;
    justify-content: center;
}
