/*Lighten*/
.lgt,
.lgt-hvr:hover,
.lgt-fcs:focus,
.lgt-act.act { filter: brightness(110%); }

.lgt-sm,
.lgt-sm-hvr:hover,
.lgt-sm-fcs:focus,
.lgt-sm-act.act { filter: brightness(125%); }

.lgt-md,
.lgt-md-hvr:hover,
.lgt-md-fcs:focus,
.lgt-md-act.act { filter: brightness(150%); }

.lgt-lg,
.lgt-lg-hvr:hover,
.lgt-lg-fcs:focus,
.lgt-lg-act.act { filter: brightness(175%); }

.lgt-xl,
.lgt-xl-hvr:hover,
.lgt-xl-fcs:focus,
.lgt-xl-act.act { filter: brightness(200%); }

.lgt-no,
.lgt-no-hvr:hover,
.lgt-no-fcs:focus,
.lgt-no-act.act { filter: brightness(100%); }
