/*Opacity*/
.opc,
.opc-hvr:hover,
.opc-fcs:focus,
.opc-act.act { opacity: 0.5; }

.opc-sm,
.opc-sm-hvr:hover,
.opc-sm-fcs:focus,
.opc-sm-act.act { opacity: 0.25; }

.opc-md,
.opc-md-hvr:hover,
.opc-md-fcs:focus,
.opc-md-act.act { opacity: 0.5; }

.opc-lg,
.opc-lg-hvr:hover,
.opc-lg-fcs:focus,
.opc-lg-act.act { opacity: 0.75; }

.opc-xl,
.opc-xl-hvr:hover,
.opc-xl-fcs:focus,
.opc-xl-act.act { opacity: 1; }

.opc-no,
.opc-no-hvr:hover,
.opc-no-fcs:focus,
.opc-no-act.act { opacity: 0; }
