/*Table*/
.tbl { display: table; }
.tr { display: table-row; }
.td { display: table-cell; }
.tbl-col { display: table-column; }
.tbl-cap { display: table-caption; }
.tbl-fix { table-layout: fixed; }
.tr-grp { display: table-row-group; }
.th-grp { display: table-header-group; }
.tbl-col-grp { display: table-column-group; }
.tbl-ftr-grp { display: table-footer-group; }
