/*Translate out*/
.out-t,
.out-t-act.act { transform: translateY(-100%); }

.out-r,
.out-r-act.act { transform: translateX(100%); }

.out-b,
.out-b-act.act { transform: translateY(100%); }

.out-l,
.out-l-act.act { transform: translateX(-100%); }

.out-no,
.out-no-act.act { transform: translateX(0); }
