/*Cursor*/
.cr-gr { cursor: grab; }
.cr-gb { cursor: grabbing; }
.cr-cr { cursor: crosshair; }
.cr-mv { cursor: move; }
.cr-mn { cursor: context-menu; }
.cr-hl { cursor: help; }
.cr-pg { cursor: progress; }
.cr-wa { cursor: wait; }
.cr-tx { cursor: text; }
.cr-sc { cursor: all-scroll; }
.cr-ce { cursor: cell; }
.cr-cp { cursor: copy; }
.cr-df { cursor: default; }
.cr-zi { cursor: zoom-in; }
.cr-zo { cursor: zoom-out; }
.cr-no { cursor: none; }
