/*Cursor*/
.cu-gr { cursor: grab; }
.cu-gb { cursor: grabbing; }
.cu-cr { cursor: crosshair; }
.cu-mv { cursor: move; }
.cu-mn { cursor: context-menu; }
.cu-hl { cursor: help; }
.cu-pg { cursor: progress; }
.cu-wa { cursor: wait; }
.cu-tx { cursor: text; }
.cu-sc { cursor: all-scroll; }
.cu-ce { cursor: cell; }
.cu-cp { cursor: copy; }
.cu-df { cursor: default; }
.cu-zi { cursor: zoom-in; }
.cu-zo { cursor: zoom-out; }
.cu-no { cursor: none; }
