/*Darken*/
.dk,
.dk-hv:hover,
.dk-fc:focus,
.dk-on.on { filter:
brightness(calc(100% - var(--brg)*1)); }

.dk-sm,
.dk-sm-hv:hover,
.dk-sm-fc:focus,
.dk-sm-on.on { filter:
brightness(calc(100% - var(--brg)*2)); }

.dk-md,
.dk-md-hv:hover,
.dk-md-fc:focus,
.dk-md-on.on { filter:
brightness(calc(100% - var(--brg)*3)); }

.dk-lg,
.dk-lg-hv:hover,
.dk-lg-fc:focus,
.dk-lg-on.on { filter:
brightness(calc(100% - var(--brg)*4)); }

.dk-xl,
.dk-xl-hv:hover,
.dk-xl-fc:focus,
.dk-xl-on.on { filter:
brightness(calc(100% - var(--brg)*5)); }

.dk-no,
.dk-no-hv:hover,
.dk-no-fc:focus,
.dk-no-on.on { filter: brightness(100%); }
