/*Flexbox*/
.fl { display: flex; }
.fl-in { display: inline-flex; }
.fl-rw { flex-direction: row; }
.fl-rw-rv { flex-direction: row-reverse; }
.fl-co { flex-direction: column; }
.fl-co-rv { flex-direction: column-reverse; }
.fl-au { flex: auto; }
.fl-wp { flex-wrap: wrap; }
.fl-wp-no { flex-wrap: nowrap; }
.fl-al-l { align-items: flex-start; }
.fl-al-c { align-items: center; }
.fl-al-r { align-items: flex-end; }
.fl-ju-l { justify-content: flex-start; }
.fl-ju-c { justify-content: center; }
.fl-ju-r { justify-content: flex-end; }
.fl-ar { justify-content: space-around; }
.fl-bw { justify-content: space-between; }
.fl-md {
    display: flex;
    align-items: center;
    justify-content: center;
}
