/*Grow*/
.gw,
.gw-hv:hover,
.gw-fc:focus,
.gw-on.on { transform: scale(1.25); }

.gw-sm,
.gw-sm-hv:hover,
.gw-sm-fc:focus,
.gw-sm-on.on { transform: scale(1.25); }

.gw-md,
.gw-md-hv:hover,
.gw-md-fc:focus,
.gw-md-on.on { transform: scale(1.5); }

.gw-lg,
.gw-lg-hv:hover,
.gw-lg-fc:focus,
.gw-lg-on.on { transform: scale(1.75); }

.gw-xl,
.gw-xl-hv:hover,
.gw-xl-fc:focus,
.gw-xl-on.on { transform: scale(2); }

.gw-no,
.gw-no-hv:hover,
.gw-no-fc:focus,
.gw-no-on.on { transform: scale(1); }
