/*Margin*/
.mg { margin: calc(var(--pad)*1); }
.mg-sm { margin: calc(var(--pad)*1); }
.mg-md { margin: calc(var(--pad)*2); }
.mg-lg { margin: calc(var(--pad)*3); }
.mg-xl { margin: calc(var(--pad)*4); }
.mg-no { margin: 0; }

.mg-x { margin-left: calc(var(--pad)*1); margin-right: calc(var(--pad)*1); }
.mg-x-sm { margin-left: calc(var(--pad)*1); margin-right: calc(var(--pad)*1); }
.mg-x-md { margin-left: calc(var(--pad)*2); margin-right: calc(var(--pad)*2); }
.mg-x-lg { margin-left: calc(var(--pad)*3); margin-right: calc(var(--pad)*3); }
.mg-x-xl { margin-left: calc(var(--pad)*4); margin-right: calc(var(--pad)*4); }
.mg-x-no { margin-left: 0; margin-right: 0; }

.mg-y { margin-top: calc(var(--pad)*1); margin-bottom: calc(var(--pad)*1); }
.mg-y-sm { margin-top: calc(var(--pad)*1); margin-bottom: calc(var(--pad)*1); }
.mg-y-md { margin-top: calc(var(--pad)*2); margin-bottom: calc(var(--pad)*2); }
.mg-y-lg { margin-top: calc(var(--pad)*3); margin-bottom: calc(var(--pad)*3); }
.mg-y-xl { margin-top: calc(var(--pad)*4); margin-bottom: calc(var(--pad)*4); }
.mg-y-no { margin-top: 0; margin-bottom: 0; }

.mg-t { margin-top: calc(var(--pad)*1); }
.mg-t-sm { margin-top: calc(var(--pad)*1); }
.mg-t-md { margin-top: calc(var(--pad)*2); }
.mg-t-lg { margin-top: calc(var(--pad)*3); }
.mg-t-xl { margin-top: calc(var(--pad)*4); }
.mg-t-no { margin-top: 0; }

.mg-r { margin-right: calc(var(--pad)*1); }
.mg-r-sm { margin-right: calc(var(--pad)*1); }
.mg-r-md { margin-right: calc(var(--pad)*2); }
.mg-r-lg { margin-right: calc(var(--pad)*3); }
.mg-r-xl { margin-right: calc(var(--pad)*4); }
.mg-r-no { margin-right: 0; }

.mg-b { margin-bottom: calc(var(--pad)*1); }
.mg-b-sm { margin-bottom: calc(var(--pad)*1); }
.mg-b-md { margin-bottom: calc(var(--pad)*2); }
.mg-b-lg { margin-bottom: calc(var(--pad)*3); }
.mg-b-xl { margin-bottom: calc(var(--pad)*4); }
.mg-b-no { margin-bottom: 0; }

.mg-l { margin-left: calc(var(--pad)*1); }
.mg-l-sm { margin-left: calc(var(--pad)*1); }
.mg-l-md { margin-left: calc(var(--pad)*2); }
.mg-l-lg { margin-left: calc(var(--pad)*3); }
.mg-l-xl { margin-left: calc(var(--pad)*4); }
.mg-l-no { margin-left: 0; }

.mg-a { margin: 0 auto; }
