/*Padding*/
.pd { padding: calc(var(--pad)*1); }
.pd-sm { padding: calc(var(--pad)*1); }
.pd-md { padding: calc(var(--pad)*2); }
.pd-lg { padding: calc(var(--pad)*3); }
.pd-xl { padding: calc(var(--pad)*4); }
.pd-no { padding: 0; }

.pd-x { padding-left: calc(var(--pad)*1); padding-right: calc(var(--pad)*1); }
.pd-x-sm { padding-left: calc(var(--pad)*1); padding-right: calc(var(--pad)*1); }
.pd-x-md { padding-left: calc(var(--pad)*2); padding-right: calc(var(--pad)*2); }
.pd-x-lg { padding-left: calc(var(--pad)*3); padding-right: calc(var(--pad)*3); }
.pd-x-xl { padding-left: calc(var(--pad)*4); padding-right: calc(var(--pad)*4); }
.pd-x-no { padding-left: 0; padding-right: 0; }

.pd-y { padding-top: calc(var(--pad)*1); padding-bottom: calc(var(--pad)*1); }
.pd-y-sm { padding-top: calc(var(--pad)*1); padding-bottom: calc(var(--pad)*1); }
.pd-y-md { padding-top: calc(var(--pad)*2); padding-bottom: calc(var(--pad)*2); }
.pd-y-lg { padding-top: calc(var(--pad)*3); padding-bottom: calc(var(--pad)*3); }
.pd-y-xl { padding-top: calc(var(--pad)*4); padding-bottom: calc(var(--pad)*4); }
.pd-y-no { padding-top: 0; padding-bottom: 0; }

.pd-t { padding-top: calc(var(--pad)*1); }
.pd-t-sm { padding-top: calc(var(--pad)*1); }
.pd-t-md { padding-top: calc(var(--pad)*2); }
.pd-t-lg { padding-top: calc(var(--pad)*3); }
.pd-t-xl { padding-top: calc(var(--pad)*4); }
.pd-t-no { padding-top: 0; }

.pd-r { padding-right: calc(var(--pad)*1); }
.pd-r-sm { padding-right: calc(var(--pad)*1); }
.pd-r-md { padding-right: calc(var(--pad)*2); }
.pd-r-lg { padding-right: calc(var(--pad)*3); }
.pd-r-xl { padding-right: calc(var(--pad)*4); }
.pd-r-no { padding-right: 0; }

.pd-b { padding-bottom: calc(var(--pad)*1); }
.pd-b-sm { padding-bottom: calc(var(--pad)*1); }
.pd-b-md { padding-bottom: calc(var(--pad)*2); }
.pd-b-lg { padding-bottom: calc(var(--pad)*3); }
.pd-b-xl { padding-bottom: calc(var(--pad)*4); }
.pd-b-no { padding-bottom: 0; }

.pd-l { padding-left: calc(var(--pad)*1); }
.pd-l-sm { padding-left: calc(var(--pad)*1); }
.pd-l-md { padding-left: calc(var(--pad)*2); }
.pd-l-lg { padding-left: calc(var(--pad)*3); }
.pd-l-xl { padding-left: calc(var(--pad)*4); }
.pd-l-no { padding-left: 0; }
