/*Width*/
.wd-1 { width: 8.333333333333334%; }
.wd-2 { width: 16.666666666666668%; }
.wd-3 { width: 25%; }
.wd-4 { width: 33.333333333333336%; }
.wd-5 { width: 41.66666666666667%; }
.wd-6 { width: 50%; }
.wd-7 { width: 58.333333333333336%; }
.wd-8 { width: 66.66666666666667%; }
.wd-9 { width: 75%; }
.wd-10 { width: 83.33333333333334%; }
.wd-11 { width: 91.66666666666667%; }
.wd-12 { width: 100%; }

/*Max Width*/
.wd-mx-1 { max-width: 8.333333333333334%; }
.wd-mx-2 { max-width: 16.666666666666668%; }
.wd-mx-3 { max-width: 25%; }
.wd-mx-4 { max-width: 33.333333333333336%; }
.wd-mx-5 { max-width: 41.66666666666667%; }
.wd-mx-6 { max-width: 50%; }
.wd-mx-7 { max-width: 58.333333333333336%; }
.wd-mx-8 { max-width: 66.66666666666667%; }
.wd-mx-9 { max-width: 75%; }
.wd-mx-10 { max-width: 83.33333333333334%; }
.wd-mx-11 { max-width: 91.66666666666667%; }
.wd-mx-12 { max-width: 100%; }

/*Min Width*/
.wd-mn-1 { min-width: 8.333333333333334%; }
.wd-mn-2 { min-width: 16.666666666666668%; }
.wd-mn-3 { min-width: 25%; }
.wd-mn-4 { min-width: 33.333333333333336%; }
.wd-mn-5 { min-width: 41.66666666666667%; }
.wd-mn-6 { min-width: 50%; }
.wd-mn-7 { min-width: 58.333333333333336%; }
.wd-mn-8 { min-width: 66.66666666666667%; }
.wd-mn-9 { min-width: 75%; }
.wd-mn-10 { min-width: 83.33333333333334%; }
.wd-mn-11 { min-width: 91.66666666666667%; }
.wd-mn-12 { min-width: 100%; }
