/*Width*/
.w-1 { width: 8.333333333333334%; }
.w-2 { width: 16.666666666666668%; }
.w-3 { width: 25%; }
.w-4 { width: 33.333333333333336%; }
.w-5 { width: 41.66666666666667%; }
.w-6 { width: 50%; }
.w-7 { width: 58.333333333333336%; }
.w-8 { width: 66.66666666666667%; }
.w-9 { width: 75%; }
.w-10 { width: 83.33333333333334%; }
.w-11 { width: 91.66666666666667%; }
.w-12 { width: 100%; }

/*Max Width*/
.w-mx-1 { max-width: 8.333333333333334%; }
.w-mx-2 { max-width: 16.666666666666668%; }
.w-mx-3 { max-width: 25%; }
.w-mx-4 { max-width: 33.333333333333336%; }
.w-mx-5 { max-width: 41.66666666666667%; }
.w-mx-6 { max-width: 50%; }
.w-mx-7 { max-width: 58.333333333333336%; }
.w-mx-8 { max-width: 66.66666666666667%; }
.w-mx-9 { max-width: 75%; }
.w-mx-10 { max-width: 83.33333333333334%; }
.w-mx-11 { max-width: 91.66666666666667%; }
.w-mx-12 { max-width: 100%; }

/*Min Width*/
.w-mn-1 { min-width: 8.333333333333334%; }
.w-mn-2 { min-width: 16.666666666666668%; }
.w-mn-3 { min-width: 25%; }
.w-mn-4 { min-width: 33.333333333333336%; }
.w-mn-5 { min-width: 41.66666666666667%; }
.w-mn-6 { min-width: 50%; }
.w-mn-7 { min-width: 58.333333333333336%; }
.w-mn-8 { min-width: 66.66666666666667%; }
.w-mn-9 { min-width: 75%; }
.w-mn-10 { min-width: 83.33333333333334%; }
.w-mn-11 { min-width: 91.66666666666667%; }
.w-mn-12 { min-width: 100%; }
