/*Color*/
.tx { color: var(--txt); }
.ln { color: var(--lnk); }
.bd { border-color: var(--sys); }
.bg { background-color: var(--bgc) }

/*System*/
.tx-sys,
.tx-sys-hv:hover,
.tx-sys-fc:focus,
.tx-sys-on.on { color: var(--sys); }

.bd-sys,
.bd-sys-hv:hover,
.bd-sys-fc:focus,
.bd-sys-on.on { border-color: var(--sys); }

.bg-sys,
.bg-sys-hv:hover,
.bg-sys-fc:focus,
.bg-sys-on.on { background-color: var(--sys) }

/*Panel*/
.tx-pnl,
.tx-pnl-hv:hover,
.tx-pnl-fc:focus,
.tx-pnl-on.on { color: var(--pnl); }

.bd-pnl,
.bd-pnl-hv:hover,
.bd-pnl-fc:focus,
.bd-pnl-on.on { border-color: var(--pnl); }

.bg-pnl,
.bg-pnl-hv:hover,
.bg-pnl-fc:focus,
.bg-pnl-on.on { background-color: var(--pnl) }

/*Primary*/
.tx-prm,
.tx-prm-hv:hover,
.tx-prm-fc:focus,
.tx-prm-on.on { color: var(--prm); }

.bd-prm,
.bd-prm-hv:hover,
.bd-prm-fc:focus,
.bd-prm-on.on { border-color: var(--prm); }

.bg-prm,
.bg-prm-hv:hover,
.bg-prm-fc:focus,
.bg-prm-on.on { background-color: var(--prm) }

/*Secondary*/
.tx-sec,
.tx-sec-hv:hover,
.tx-sec-fc:focus,
.tx-sec-on.on { color: var(--sec); }

.bd-sec,
.bd-sec-hv:hover,
.bd-sec-fc:focus,
.bd-sec-on.on { border-color: var(--sec); }

.bg-sec,
.bg-sec-hv:hover,
.bg-sec-fc:focus,
.bg-sec-on.on { background-color: var(--sec) }

/*Info*/
.tx-inf,
.tx-inf-hv:hover,
.tx-inf-fc:focus,
.tx-inf-on.on { color: var(--inf); }

.bd-inf,
.bd-inf-hv:hover,
.bd-inf-fc:focus,
.bd-inf-on.on { border-color: var(--inf); }

.bg-inf,
.bg-inf-hv:hover,
.bg-inf-fc:focus,
.bg-inf-on.on { background-color: var(--inf) }

/*Success*/
.tx-scc,
.tx-scc-hv:hover,
.tx-scc-fc:focus,
.tx-scc-on.on { color: var(--scc); }

.bd-scc,
.bd-scc-hv:hover,
.bd-scc-fc:focus,
.bd-scc-on.on { border-color: var(--scc); }

.bg-scc,
.bg-scc-hv:hover,
.bg-scc-fc:focus,
.bg-scc-on.on { background-color: var(--scc) }

/*Warning*/
.tx-wrn,
.tx-wrn-hv:hover,
.tx-wrn-fc:focus,
.tx-wrn-on.on { color: var(--wrn); }

.bd-wrn,
.bd-wrn-hv:hover,
.bd-wrn-fc:focus,
.bd-wrn-on.on { border-color: var(--wrn); }

.bg-wrn,
.bg-wrn-hv:hover,
.bg-wrn-fc:focus,
.bg-wrn-on.on { background-color: var(--wrn) }

/*Danger*/
.tx-dng,
.tx-dng-hv:hover,
.tx-dng-fc:focus,
.tx-dng-on.on { color: var(--dng); }

.bd-dng,
.bd-dng-hv:hover,
.bd-dng-fc:focus,
.bd-dng-on.on { border-color: var(--dng); }

.bg-dng,
.bg-dng-hv:hover,
.bg-dng-fc:focus,
.bg-dng-on.on { background-color: var(--dng) }

/*White*/
.tx-wht,
.tx-wht-hv:hover,
.tx-wht-fc:focus,
.tx-wht-on.on { color: var(--wht); }

.bd-wht,
.bd-wht-hv:hover,
.bd-wht-fc:focus,
.bd-wht-on.on { border-color: var(--wht); }

.bg-wht,
.bg-wht-hv:hover,
.bg-wht-fc:focus,
.bg-wht-on.on { background-color: var(--wht) }

/*Black*/
.tx-blk,
.tx-blk-hv:hover,
.tx-blk-fc:focus,
.tx-blk-on.on { color: var(--blk); }

.bd-blk,
.bd-blk-hv:hover,
.bd-blk-fc:focus,
.bd-blk-on.on { border-color: var(--blk); }

.bg-blk,
.bg-blk-hv:hover,
.bg-blk-fc:focus,
.bg-blk-on.on { background-color: var(--blk) }

/*Transparent*/
.tx-no,
.tx-no-hv:hover,
.tx-no-fc:focus,
.tx-no-on.on { color: transparent; }

.bd-no,
.bd-no-hv:hover,
.bd-no-fc:focus,
.bd-no-on.on { border-color: transparent; }

.bg-no,
.bg-no-hv:hover,
.bg-no-fc:focus,
.bg-no-on.on { background-color: transparent; }
