/*Lighten*/
.lt,
.lt-hv:hover,
.lt-fc:focus,
.lt-on.on { filter: brightness(110%); }

.lt-sm,
.lt-sm-hv:hover,
.lt-sm-fc:focus,
.lt-sm-on.on { filter: brightness(125%); }

.lt-md,
.lt-md-hv:hover,
.lt-md-fc:focus,
.lt-md-on.on { filter: brightness(150%); }

.lt-lg,
.lt-lg-hv:hover,
.lt-lg-fc:focus,
.lt-lg-on.on { filter: brightness(175%); }

.lt-xl,
.lt-xl-hv:hover,
.lt-xl-fc:focus,
.lt-xl-on.on { filter: brightness(200%); }

.lt-no,
.lt-no-hv:hover,
.lt-no-fc:focus,
.lt-no-on.on { filter: brightness(100%); }
