/*Opacity*/
.op,
.op-hv:hover,
.op-fc:focus,
.op-on.on { opacity: 0.5; }

.op-sm,
.op-sm-hv:hover,
.op-sm-fc:focus,
.op-sm-on.on { opacity: 0.25; }

.op-md,
.op-md-hv:hover,
.op-md-fc:focus,
.op-md-on.on { opacity: 0.5; }

.op-lg,
.op-lg-hv:hover,
.op-lg-fc:focus,
.op-lg-on.on { opacity: 0.75; }

.op-xl,
.op-xl-hv:hover,
.op-xl-fc:focus,
.op-xl-on.on { opacity: 1; }

.op-no,
.op-no-hv:hover,
.op-no-fc:focus,
.op-no-on.on { opacity: 0; }
