:root {
    --fsz: 18px;
    --rad: 0.3em;
    --spd: 1s;
    --min: 320px;
    --max: 1024px;
    
    /*Colors*/
    --bgc: #F5F5F5;
    --sys: #CCCCCC;
    --txt: #606C76;
    --lnk: #337AB7;
    --pnl: #FFFFFF;
    --prm: #536878;
    --sec: #77838C;
    --inf: #17A2B8;
    --scc: #28A745;
    --wrn: #FFC107;
    --dng: #DC3545;
    --wht: #FFFFFF;
    --blk: #000000;
}
