/*Border*/
.bd,
.bd-xs { border-width: 1px; }
.bd-sm { border-width: 2px solid; }
.bd-md { border-width: 3px solid; }
.bd-lg { border-width: 4px solid; }
.bd-xl { border-width: 5px solid; }

.bd,
.bd-so { border-style: solid; }
.bd-da { border-style: dashed; }
.bd-do { border-style: dotted; }
.bd-db { border-style: double; }
.bd-in { border-style: inset; }
.bd-ou { border-style: outset; }

.bd-no { border: none; }
