/*Display*/
.bl { display: block; }
.in { display: inline-block; }
.li { display: list-item; }
.hi { visibility: hidden; }
.no { display: none; }

/*Mobile*/
@media screen and (max-width: var(--max)) {
    .br-hi { visibility: hidden; }
    .br-no { display: none; }
}
