/*Grow*/
.grw,
.grw-hvr:hover,
.grw-fcs:focus,
.grw-act.act { transform: scale(1.25); }

.grw-sm,
.grw-sm-hvr:hover,
.grw-sm-fcs:focus,
.grw-sm-act.act { transform: scale(1.25); }

.grw-md,
.grw-md-hvr:hover,
.grw-md-fcs:focus,
.grw-md-act.act { transform: scale(1.5); }

.grw-lg,
.grw-lg-hvr:hover,
.grw-lg-fcs:focus,
.grw-lg-act.act { transform: scale(1.75); }

.grw-xl,
.grw-xl-hvr:hover,
.grw-xl-fcs:focus,
.grw-xl-act.act { transform: scale(2); }

.grw-no,
.grw-no-hvr:hover,
.grw-no-fcs:focus,
.grw-no-act.act { transform: scale(1); }
