/*Margin*/
.mar { margin: 0.25em; }
.mar-sm { margin: 0.25em; }
.mar-md { margin: 0.50em; }
.mar-lg { margin: 0.75em; }
.mar-xl { margin: 1em; }
.mar-no { margin: 0; }

.mar-x { margin-left: 0.25em; margin-right: 0.25em; }
.mar-x-sm { margin-left: 0.25em; margin-right: 0.25em; }
.mar-x-md { margin-left: 0.50em; margin-right: 0.50em; }
.mar-x-lg { margin-left: 0.75em; margin-right: 0.75em; }
.mar-x-xl { margin-left: 1em; margin-right: 1em; }
.mar-x-no { margin-left: 0; margin-right: 0; }

.mar-y { margin-top: 0.25em; margin-bottom: 0.25em; }
.mar-y-sm { margin-top: 0.25em; margin-bottom: 0.25em; }
.mar-y-md { margin-top: 0.50em; margin-bottom: 0.50em; }
.mar-y-lg { margin-top: 0.75em; margin-bottom: 0.75em; }
.mar-y-yl { margin-top: 1em; margin-bottom: 1em; }
.mar-y-no { margin-top: 0; margin-bottom: 0; }

.mar-t { margin-top: 0.25em; }
.mar-t-sm { margin-top: 0.25em; }
.mar-t-md { margin-top: 0.50em; }
.mar-t-lg { margin-top: 0.75em; }
.mar-t-xl { margin-top: 1em; }
.mar-t-no { margin-top: 0; }

.mar-r { margin-right: 0.25em; }
.mar-r-sm { margin-right: 0.25em; }
.mar-r-md { margin-right: 0.50em; }
.mar-r-lg { margin-right: 0.75em; }
.mar-r-xl { margin-right: 1em; }
.mar-r-no { margin-right: 0; }

.mar-b { margin-bottom: 0.25em; }
.mar-b-sm { margin-bottom: 0.25em; }
.mar-b-md { margin-bottom: 0.50em; }
.mar-b-lg { margin-bottom: 0.75em; }
.mar-b-xl { margin-bottom: 1em; }
.mar-b-no { margin-bottom: 0; }

.mar-l { margin-left: 0.25em; }
.mar-l-sm { margin-left: 0.25em; }
.mar-l-md { margin-left: 0.50em; }
.mar-l-lg { margin-left: 0.75em; }
.mar-l-xl { margin-left: 1em; }
.mar-l-no { margin-left: 0; }
