/*Overflow*/
.ofw { overflow: hidden; }
.ofw-x { overflow-x: hidden; }
.ofw-y { overflow-y: hidden; }

.scr { overflow: auto; }
.scr-x { overflow-x: auto; }
.scr-y { overflow-y: auto; }

.swp {
    overflow: auto;
    scrollbar-width: none;
}.swp::-webkit-scrollbar { display: none; }

.ell {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
