/*Radius*/
.rn { border-radius: 50%; }

.ra { border-radius: var(--rad); }
.ra-no { border-radius: 0; }

.ra-t { border-top-left-radius: var(--rad); border-top-right-radius: var(--rad); }
.ra-r { border-top-right-radius: var(--rad); border-bottom-right-radius: var(--rad); }
.ra-b { border-bottom-left-radius: var(--rad); border-bottom-right-radius: var(--rad); }
.ra-l { border-top-left-radius: var(--rad); border-bottom-left-radius: var(--rad); }

.ra-t-no { border-top-left-radius: 0; border-top-right-radius: 0; }
.ra-r-no { border-top-right-radius: 0; border-bottom-right-radius: 0; }
.ra-b-no { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.ra-l-no { border-top-left-radius: 0; border-bottom-left-radius: 0; }

.ra-tl { border-top-left-radius: var(--rad); }
.ra-tr { border-top-right-radius: var(--rad); }
.ra-bl { border-bottom-left-radius: var(--rad); }
.ra-br { border-bottom-right-radius: var(--rad); }

.ra-tl-no { border-top-left-radius: 0; }
.ra-tr-no { border-top-right-radius: 0; }
.ra-bl-no { border-bottom-left-radius: 0; }
.ra-br-no { border-bottom-right-radius: 0; }
