/*Radius*/
.rnd { border-radius: 50%; }

.rad { border-radius: var(--rad); }
.rad-no { border-radius: 0; }

.rad-t { border-top-left-radius: var(--rad); border-top-right-radius: var(--rad); }
.rad-r { border-top-right-radius: var(--rad); border-bottom-right-radius: var(--rad); }
.rad-b { border-bottom-left-radius: var(--rad); border-bottom-right-radius: var(--rad); }
.rad-l { border-top-left-radius: var(--rad); border-bottom-left-radius: var(--rad); }

.rad-t-no { border-top-left-radius: 0; border-top-right-radius: 0; }
.rad-r-no { border-top-right-radius: 0; border-bottom-right-radius: 0; }
.rad-b-no { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.rad-l-no { border-top-left-radius: 0; border-bottom-left-radius: 0; }

.rad-tl { border-top-left-radius: var(--rad); }
.rad-tr { border-top-right-radius: var(--rad); }
.rad-bl { border-bottom-left-radius: var(--rad); }
.rad-br { border-bottom-right-radius: var(--rad); }

.rad-tl-no { border-top-left-radius: 0; }
.rad-tr-no { border-top-right-radius: 0; }
.rad-bl-no { border-bottom-left-radius: 0; }
.rad-br-no { border-bottom-right-radius: 0; }
