/*Shadow*/
.shd { box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2); }
.shd-sm { box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2); }
.shd-md { box-shadow: 0 .125em .25em rgba(0,0,0,.075); }
.shd-lg { box-shadow: 0 .5em 1em rgba(0,0,0,0.15); }
.shd-xl { box-shadow: 0 1em 3em rgba(0,0,0,0.175); }
.shd-no { box-shadow: none; }

.shd-txt { text-shadow: 1px 2px 0 rgba(0,0,0,0.2); }
.shd-txt-no { text-shadow: none; }
