/*Shrink*/
.shk,
.shk-hvr:hover,
.shk-fcs:focus,
.shk-act.act { transform: scale(0.75); }

.shk-sm,
.shk-sm-hvr:hover,
.shk-sm-fcs:focus,
.shk-sm-act.act { transform: scale(0.75); }

.shk-md,
.shk-md-hvr:hover,
.shk-md-fcs:focus,
.shk-md-act.act { transform: scale(0.5); }

.shk-lg,
.shk-lg-hvr:hover,
.shk-lg-fcs:focus,
.shk-lg-act.act { transform: scale(0.25); }

.shk-xl,
.shk-xl-hvr:hover,
.shk-xl-fcs:focus,
.shk-xl-act.act { transform: scale(0); }

.shk-no,
.shk-no-hvr:hover,
.shk-no-fcs:focus,
.shk-no-act.act { transform: scale(1); }
