/*Shrink*/
.sk,
.sk-hv:hover,
.sk-fc:focus,
.sk-on.on { transform: scale(0.75); }

.sk-sm,
.sk-sm-hv:hover,
.sk-sm-fc:focus,
.sk-sm-on.on { transform: scale(0.75); }

.sk-md,
.sk-md-hv:hover,
.sk-md-fc:focus,
.sk-md-on.on { transform: scale(0.5); }

.sk-lg,
.sk-lg-hv:hover,
.sk-lg-fc:focus,
.sk-lg-on.on { transform: scale(0.25); }

.sk-xl,
.sk-xl-hv:hover,
.sk-xl-fc:focus,
.sk-xl-on.on { transform: scale(0); }

.sk-no,
.sk-no-hv:hover,
.sk-no-fc:focus,
.sk-no-on.on { transform: scale(1); }
