/*Spin*/
.spn,
.spn-hvr:hover,
.spn-act.act {
    display: inline-block;
    transform-origin: center center;
    animation: sn var(--spd) 1 linear;
}
@keyframes spn {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
