/*Spin*/
.sn,
.sn-hv:hover,
.sn-fc:focus,
.sn-on.on {
    display: inline-block;
    transform-origin: center center;
    -webkit-animation: sn var(--spd) 1 linear;
            animation: sn var(--spd) 1 linear;
}
@-webkit-keyframes sn {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
@keyframes sn {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
