/*Table*/
.tb { display: table; }
.tr { display: table-row; }
.td { display: table-cell; }
.tb-co { display: table-column; }
.tb-cp { display: table-caption; }
.tb-fx { table-layout: fixed; }
.tr-gr { display: table-row-group; }
.th-gr { display: table-header-group; }
.tb-co-gr { display: table-column-group; }
.tb-ft-gr { display: table-footer-group; }
