/*Text size*/
.xl { font-size: 2.4em; }
.lg { font-size: 2.2em; }
.h1 { font-size: 2em; }
.h2 { font-size: 1.8em; }
.h3 { font-size: 1.6em; }
.h4 { font-size: 1.4em; }
.h5 { font-size: 1.2em; }
.h6,
.md { font-size: 1em; }
.sm { font-size: 0.8em; }

/*Text style*/
.b { font-weight: bold; }
.i { font-style: italic; }
.u { text-decoration: underline; }
.up { text-transform: uppercase; }
.lo { text-transform: lowercase; }

/*Mobile*/
@media screen and (max-width: var(--max)) {
    .br-xl { font-size: 2.4em; }
    .br-lg { font-size: 2.2em; }
    .br-h1 { font-size: 2em; }
    .br-h2 { font-size: 1.8em; }
    .br-h3 { font-size: 1.6em; }
    .br-h4 { font-size: 1.4em; }
    .br-h5 { font-size: 1.2em; }
    .br-h6,
    .br-md { font-size: 1em; }
    .br-sm { font-size: 0.8em; }
}
